﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
	
	<script src="lib/highcharts-ng.js"></script>
  </head>
  <body ng-app="starter" class="platform-android" ng-controller="WaterfallController">

      <ion-side-menus>
          <!-- Left menu -->
          <ion-side-menu side="left">
          </ion-side-menu>
      </ion-side-menus>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title"> {{ title }} </h1>		
      </ion-header-bar>
      <ion-content>	  
          <br />
		<div id="container" />	  
      </ion-content>
    </ion-pane>
	
	<script src="controllers/WaterfallController.js"></script>
	
  </body>
</html>
