﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="js/fusioncharts/assets/css/mainstyle.css" rel="stylesheet" />
    <link href="js/fusioncharts/assets/css/style.css" rel="stylesheet" />        
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->

    <script src="cordova.js"></script>
    <script src="js/fusioncharts/fusioncharts.js"></script>
    <script src="js/fusioncharts/fusioncharts.charts.js"></script>
    <script src="js/fusioncharts/fusioncharts.gantt.js"></script>
    
    <script src="js/fusioncharts/fusioncharts.maps.js"></script>
    <script src="js/fusioncharts/fusioncharts.powercharts.js"></script>
    <script src="js/fusioncharts/fusioncharts.treemap.js"></script>
    <script src="js/fusioncharts/fusioncharts.widgets.js"></script>
    <script src="js/fusioncharts/fusioncharts.zoomscatter.js"></script>    
    <script src="js/fusioncharts/angularjs/angular-fusioncharts.min.js"></script>
    <script src="js/fusioncharts/themes/fusioncharts.theme.carbon.js"></script>
    <script src="js/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
    <script src="js/fusioncharts/themes/fusioncharts.theme.ocean.js"></script>
    <script src="js/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>

</head>
<body ng-app="starter" class="platform-android" ng-controller="WaterfallController">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">{{ welcomeMessage }}</h1>
        </ion-header-bar>
        <ion-content>

            <div fusioncharts
                 width="100%"
                 type="waterfall2d"
                 datasource="{{ myDataSource }}">
            </div>

            <div fusioncharts
                 width="100%"
                 type="pie3d"
                 datasource="{{ myDataSource2 }}">
            </div>

        </ion-content>
    </ion-pane>

    <script src="controllers/WaterfallController.js"></script>

</body>
</html>
